<%= simple_form_for @user, :validate => true do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  	
  	<p id="ugly" style="display: none"></p>
 
    <%= f.input :email, required: true, autofocus: true, error: true, wrapper_html: { class: 'input-error' }, wrapper: :vertical_input_group, label: false, placeholder: 'youremail@domain.com'  %>
    <%= f.input :name, required: true, autofocus: true, error: true, wrapper: :vertical_input_group, placeholder: 'Your full name', label: false, class: "form-control" %>
    <%= f.input :phone, wrapper: :vertical_input_group, placeholder: 'Your phone', label: false, class: "form-control" %>
   	<%= f.input :min_investment, wrapper: :vertical_input_group, placeholder: 'Minimum investment', label: false, class: "form-control" %>
  </div>

<% end %>
<script type="text/javascript"> 

$(document).ready(function() {

//	$(function () { $("input,select,textarea").not("[type=submit]").jqBootstrapValidation(); } );
	
	$('.form-group.user_name').hide();
	$('.form-group.user_phone').hide();
	$('.form-group.user_min_investment').hide();


	$("input#user_email" ).blur(function() {
//		$('.input#user_email').jqBootstrapValidation();
		$('.form-group.user_email').hide();
		$('.form-group.user_name').show();
		$('.input#user_name').focus();
	});
	$("#user_name" ).blur(function() {
		$('.form-group.user_name').hide();
		$('.form-group.user_phone').show();
		$('input#user_phone').focus();
	});
	$("#user_phone" ).blur(function() {
		$('.form-group.user_phone').hide();
		$('.form-group.user_min_investment').show();
		$('input#user_min_investment').focus();
	});
	$("#user_min_investment" ).blur(function() {
		$('#new_user').submit();
	});

	function get_browser(){
	    var N=navigator.appName, ua=navigator.userAgent, tem;
	    var M=ua.match(/(opera|chrome|safari|firefox|msie)\/?\s*(\.?\d+(\.\d+)*)/i);
	    if(M && (tem= ua.match(/version\/([\.\d]+)/i))!= null) M[2]= tem[1];
	    M=M? [M[1], M[2]]: [N, navigator.appVersion, '-?'];
	    return M[0];
	    }

	if(get_browser() == "Firefox") {
		$('#ugly').show();
	}

})
</script>