<%= simple_form_for @user, :validate => true do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  	
  	<p id="ugly" style="display: none"></p>
 
    <%= f.input :email, wrapper: :vertical_input_group, label: false do %>
		<i class="icon-large icon-envelope"></i>
		<div class="after_icon">
			<%= f.input_field :email, type: "email", placeholder: 'youremail@domain.com' %>
		</div>
	<% end %>
    <%= f.input :name, wrapper: :vertical_input_group, label: false do %>
		<i class="icon-large icon-user"></i>
		<div class="after_icon">
			<%= f.input_field :name, required: true, placeholder: 'Your full name?' %>
		</div>
	<% end %>
    <%= f.input :phone, wrapper: :vertical_input_group, label: false do %>
		<i class="icon-large icon-phone"></i>
		<div class="after_icon">
			<%= f.input_field :phone, required: true, type: "number", placeholder: 'Your phone number?' %>
		</div>
	<% end %>
   	<%= f.input :investment, wrapper: :vertical_input_group, label: false do %>
		<i class="icon-large icon-credit"></i>
		<div class="after_icon">
			<div id="min_investment">
				<%= f.input_field :min_investment, required: true, data: { role: 'money', a_sign: '$', a_sep: ',', a_dec: '.' } %>
				<%= f.hint "Investing from" %>
			</div>
			<div id="max_investment">
				<%= f.input_field :max_investment, required: true, data: { role: 'money', a_sign: '$', a_sep: ',', a_dec: '.' } %>
				<%= f.hint "To" %>
			</div>
		</div>
	<% end %>
  </div>

<% end %>
<script type="text/javascript"> 

$(document).ready(function() {
	
$('input[data-role=money]').autoNumeric('init');

$('#user_email').focus();			//focusing not working  - not beginning not end

    var hidden = {
      position : "absolute",
      top: "-2000px"
    };

	var revealed = {
		position: "static"
	} 
	
$('.form-group.user_name').css(hidden);
$('.form-group.user_name').css(hidden);
$('.form-group.user_phone').css(hidden);
$('.form-group.user_investment').css(hidden);

var validator = $( "#new_user" ).validate({
	rules: {
    	"user[phone]": {
        	phoneUS: true
    	}
	}
});

//$.validator.addMethod('user[phone]', function(value) {
//var numbers = value.split(/\d/).length - 1;
//return (10 <= numbers && numbers <= 20 && value.match(/^(\+){0,1}(\d|\s|\(|\)){10,20}$/)); }, 'Please enter a valid phone number');

$('#user_email').blur(function() {	
	valid = validator.element( "#user_email" )
	if (!valid) {
		$("input#user_email").focus()
	} else {
		$('.form-group.user_email').css(hidden);
		$('.form-group.user_name').css(revealed);
}
	
})
$('#user_name').blur(function() {							//that's the one that works
	valid = validator.element( "#user_name" )
	if (!valid) {
		$("input#user_name").focus()
	}
})
$('#user_phone').blur(function() {							//that's the one that works
	valid = validator.element( "#user_phone" )
	if (!valid) {
		$("input#user_phone").focus()
	}
})
$('#user_min_investment').blur(function() {							//that's the one that works
	valid = validator.element( "#user_min_investment" )
	if (!valid) {
		$("input#user_min_investment").focus()
	}
})
$('#user_max_investment').blur(function() {							//that's the one that works
	valid = validator.element( "#user_max_investment" )
	if (!valid) {
		$("input#user_max_investment").focus()
	}
})

/*

$("#user_phone").validate({
  invalidHandler: function(event, validator) {
    // 'this' refers to the form
    var errors = validator.numberOfInvalids();
    if (errors) {
      var message = errors == 1
        ? 'You missed 1 field. It has been highlighted'
        : 'You missed ' + errors + ' fields. They have been highlighted';
      $("div.error span").html(message);
      $("div.error").show();
    } else {
      $("div.error").hide();
    }
  }
});
var validator = $("#new_user").validate({  });


$("#new_user").click(function() {
		onfocusout: false,
        if ($("#new_user").valid()) 
              alert("Valid!");
        else
              validator.focusInvalid();

        return false;
  });


	$('#new_user').validate({
   		focusInvalid: false, 
   		invalidHandler: function() { 
     		$(this).find("input.error:first").focus(); 
   		} 
 	}); 
 
	$('input[data-role=money]').autoNumeric('init');

	$('.form-group.user_name').hide();
	$('.form-group.user_phone').hide();
	$('.form-group.user_investment_help').hide();
	$('.form-group.user_investment').hide();




		$('.form-group.user_email').hide();
		$('.form-group.user_name').show();
		$('.input#user_name').focus();
	});
	$("#user_name" ).blur(function() {
		$('.form-group.user_name').hide();
		$('.form-group.user_phone').show();
		$('input#user_phone').focus();
	});
	$("#user_phone" ).blur(function() {
		$('.form-group.user_phone').hide();
		$('.form-group.user_investment_help').show();
	});
	$("#user_investment_help" ).focus(function() {
		$('.form-group.user_investment_help').hide();
		$('.form-group.user_investment').show();
		$('.form-group.user_min_investment').focus();
	});
	$("#user_min_investment" ).blur(function() {
		$('.form-group.input#user_max_investment').show();
		$('input#user_max_investment').focus();
		$('#new_user').submit();
	});
	$("#user_max_investment" ).blur(function() {
		$('#new_user').submit();
	});

*/
	function get_browser(){
	    var N=navigator.appName, ua=navigator.userAgent, tem;
	    var M=ua.match(/(opera|chrome|safari|firefox|msie)\/?\s*(\.?\d+(\.\d+)*)/i);
	    if(M && (tem= ua.match(/version\/([\.\d]+)/i))!= null) M[2]= tem[1];
	    M=M? [M[1], M[2]]: [N, navigator.appVersion, '-?'];
	    return M[0];
	    }

	if(get_browser() == "Firefox") {
		$('#ugly').show();
	}

})
</script>