<div id="progressBar" class="tiny-green" style="display: none"><div></div></div>
<%= simple_form_for @user do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  	
    <%= f.input :email, wrapper: :vertical_input_group, label: false do %>
		<i class="icon-large icon-envelope"></i>
		<div class="after_icon">
			<%= f.input_field :email, required: true, type: "email", placeholder: 'youremail@domain.com' %>
		</div>
	<% end %>
    <%= f.input :name, wrapper: :vertical_input_group, label: false do %>
		<i class="icon-large icon-user"></i>
		<div class="after_icon">
			<%= f.input_field :name, required: true, placeholder: 'Your full name?' %>
		</div>
	<% end %>
    <%= f.input :phone, wrapper: :vertical_input_group, label: false do %>
		<i class="icon-large icon-phone"></i>
		<div class="after_icon">
			<%= f.input_field :phone, required: true, type: "text", placeholder: 'Your phone number?' %>
		</div>
	<% end %>
   	<%= f.input :investment, wrapper: :vertical_input_group, label: false do %>
		<i class="icon-large icon-credit"></i>
		<div class="after_icon">
			<div id="min_investment">
				<%= f.input_field :min_investment, required: true, data: { role: 'money', a_sign: '$', a_sep: ',', a_dec: '.' } %>
				<%= f.hint "Investing at least" %>
			</div>
			<div id="max_investment">
				<%= f.input_field :max_investment, required: true, data: { role: 'money', a_sign: '$', a_sep: ',', a_dec: '.' } %>
				<%= f.hint "At most" %>
			</div>
		</div>
	<% end %>
  </div>

<% end %>
<script type="text/javascript"> 

$(document).ready(function() {
	
function progress(percent, $element) {
    var progressBarWidth = percent * $element.width() / 100;
    $element.find('div').animate({ width: progressBarWidth }, 500).html(percent + "%&nbsp;");
}

$('input[data-role=money]').autoNumeric('init');

$('#user_email').focus();			//focusing not working  - not beginning not end

    var hidden = {
      position : "absolute",
      top: "-2000px"
    };

	var revealed = {
		position: "static"
	} 
	
$('.form-group.user_name').css(hidden);
$('.form-group.user_name').css(hidden);
$('.form-group.user_phone').css(hidden);
$('.form-group.user_investment').css(hidden);


var validator = $( "#new_user" ).validate({
	rules: {
    	"user[name]": {
    		fullName: true
		},
    	"user[phone]": {
        	phoneUS: true
    	}
	}
});

jQuery.validator.addMethod("phoneUS", function(phone_number, element) {
    phone_number = phone_number.replace(/\s+/g, ""); 
	return this.optional(element) || phone_number.length > 9 &&
		phone_number.match(/^(1-?)?(\([2-9]\d{2}\)|[2-9]\d{2})-?[2-9]\d{2}-?\d{4}$/);
}, "Please specify a valid phone number");

jQuery.validator.addMethod("fullName", function(name, element) {
	return (name.split(' ').length == 2);
}, "Please provide your full name"); 

jQuery.extend(jQuery.validator.messages, {
    required:"Please fill-up",
});

$('#user_email').keydown(function() {
	$('#progressBar').show();
})
$('#user_email').blur(function() {	
	email_valid = validator.element( "#user_email" )
	if (!email_valid) {
		$("input#user_email").focus()
	} else {
		$('.form-group.user_email').css(hidden);
		$('.form-group.user_name').css(revealed);
		progress(25, $('#progressBar'));
	}	
})
$('#user_name').blur(function() {
	if (!email_valid) {return}							
	name_valid = validator.element( "#user_name" )
	if (!name_valid)  {
		$("input#user_name").focus()
	} else {
		$('.form-group.user_name').css(hidden);
		$('.form-group.user_phone').css(revealed);
		progress(50, $('#progressBar'));
	}
})
$('#user_phone').blur(function() {							
	if (!name_valid) {return}							
	phone_valid = validator.element( "#user_phone" )
	if (!phone_valid) {
		$("input#user_phone").focus()
	} else {
		$('.form-group.user_phone').css(hidden);
		$('.form-group.user_investment').css(revealed);
		progress(75, $('#progressBar'));
	}
})
$('#user_min_investment').blur(function() {							
	if (!phone_valid) {return}							
	min_investment_valid = validator.element( "#user_min_investment" )
	if (!min_investment_valid) {
		$("input#user_min_investment").focus()
	}
})
$('#user_max_investment').blur(function() {							
	if (!min_investment_valid) {return}							
	max_investment_valid = validator.element( "#user_max_investment" )
	if (!max_investment_valid) {
		$("input#user_max_investment").focus()
		return
	} else {
		if ($('#new_user').valid()) {
			progress(100, $('#progressBar'));			
			$('#new_user').submit();					
		} else {
		}
	}
})

	
})

</script>