<div id="progressBar" class="tiny-green" style="display: none"><div></div></div>
<%= simple_form_for @user do |f| %>

  <div class="form-inputs">

    <%= f.input :email, wrapper: :vertical_input_group, label: false do %>
		<i class="icon-large icon-envelope"></i>
		<div class="after_icon">
			<%= f.input_field :email, required: true, type: "email", placeholder: 'youremail@domain.com' %>
		</div>
	<% end %>
    <%= f.input :name, wrapper: :vertical_input_group, label: false do %>
		<i class="icon-large icon-user"></i>
		<div class="after_icon">
			<%= f.input_field :name, required: true, placeholder: 'Your full name?' %>
		</div>
	<% end %>
    <%= f.input :phone, wrapper: :vertical_input_group, label: false do %>
		<i class="icon-large icon-phone"></i>
		<div class="after_icon">
			<%= f.input_field :phone, required: true, type: "text", placeholder: 'Your phone number?' %>
		</div>
	<% end %>
   	<%= f.input :investment, wrapper: :vertical_input_group, label: false do %>
		<i class="icon-large icon-credit"></i>
		<div class="after_icon">
			<div id="min_investment">
				<%= f.input_field :min_investment, required: true, data: { role: 'money', a_sign: '$', a_sep: ',', a_dec: '.' } %>
				<%= f.hint "Investing at least" %>
			</div>
			<div id="max_investment">
				<%= f.input_field :max_investment, required: true, data: { role: 'money', a_sign: '$', a_sep: ',', a_dec: '.' } %>
				<%= f.hint "At most" %>
			</div>
		</div>
	<% end %>

  </div>
<% end %>
<script type="text/javascript"> 

	
$(document).ready(function () {

function progress(percent, $element) {
    var progressBarWidth = percent * $element.width() / 100;
    $element.find('div').animate({ width: progressBarWidth }, 500).html(percent + "%&nbsp;");
}

$('input[data-role=money]').autoNumeric('init');

$('#user_email').focus();			//focusing not working  - not beginning not end

    var hidden = {
      position : "absolute",
      top: "-2000px"
    };

	var revealed = {
		position: "static"
	} 
	
//$('.form-group.user_name').css(hidden);
//$('.form-group.user_name').css(hidden);
//$('.form-group.user_phone').css(hidden);
//$('.form-group.user_investment').css(hidden);


var validator = $( "#new_user" ).validate({
	rules: {
    	"user[name]": {
    		fullName: true
		},
    	"user[phone]": {
        	phoneUS: true
    	}
	}
});
    
    jQuery.validator.addMethod('fullName', function (name, element, param) {
        return (name.split(' ').length == 2) ;
    }, 'Please provide your full name');

});	
	

</script>