<%= simple_form_for @user, :validate => true do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  	
  	<p id="ugly" style="display: none"></p>
 
    <%= f.input :email, required: true, autofocus: true, error: true, wrapper_html: { class: 'input-error' }, wrapper: :vertical_input_group, label: false do %>
		<i class="icon-large icon-envelope"></i>
		<div class="after_icon">
			<%= f.input_field :email, placeholder: 'youremail@domain.com' %>
		</div>
	<% end %>
    <%= f.input :name, required: true, autofocus: true, error: true, wrapper: :vertical_input_group, label: false, class: "form-control" do %>
		<i class="icon-large icon-user"></i>
		<div class="after_icon">
			<%= f.input_field :name, placeholder: 'Your full name?' %>
		</div>
	<% end %>
    <%= f.input :phone, wrapper: :vertical_input_group, label: false, class: "form-control" do %>
		<i class="icon-large icon-phone"></i>
		<div class="after_icon">
			<%= f.input_field :phone, placeholder: 'Your phone number?' %>
		</div>
	<% end %>
   	<%= f.input :investment_help, wrapper: :vertical_input_group, label: false, class: "form-control" do %>
		<i class="icon-large icon-credit"></i>
		<div class="after_icon">
			<%= f.input_field :investment_help, data: { validate: 'false'}, placeholder: 'How much are you looking to invest?' %>
		</div>
		<span> to </span>
	<% end %>
   	<%= f.input :investment, wrapper: :vertical_input_group, label: false, class: "form-control clearfix" do %>
		<i class="icon-large icon-credit"></i>
		<div class="after_icon">
			<div id="min_investment">
				<%= f.input_field :min_investment, data: { role: 'money', a_sign: '$', a_sep: ',', a_dec: '.' } %>
				<%= f.hint 'From' %>
			</div>
			<div id="max_investment">
				<%= f.input_field :max_investment, data: { role: 'money', a_sign: '$', a_sep: ',', a_dec: '.' } %>
				<%= f.hint 'To' %>
			</div>
		</div>
	<% end %>
  </div>

<% end %>
<script type="text/javascript"> 

$(document).ready(function() {
	
	$('input[data-role=money]').autoNumeric('init');

	$('.form-group.user_name').hide();
	$('.form-group.user_phone').hide();
	$('.form-group.user_investment_help').hide();
	$('.form-group.user_investment').hide();

	$("input#user_email" ).blur(function() {
		$('.form-group.user_email').hide();
		$('.form-group.user_name').show();
		$('.input#user_name').focus();
	});
	$("#user_name" ).blur(function() {
		$('.form-group.user_name').hide();
		$('.form-group.user_phone').show();
		$('input#user_phone').focus();
	});
	$("#user_phone" ).blur(function() {
		$('.form-group.user_phone').hide();
		$('.form-group.user_investment_help').show();
	});
	$("#user_investment_help" ).focus(function() {
		$('.form-group.user_investment_help').hide();
		$('.form-group.user_investment').show();
//		$('.form-group.user_min_investment').focus();
	});
	$("#user_min_investment" ).blur(function() {
		$('.form-group.input#user_max_investment').show();
		$('input#user_max_investment').focus();
		$('#new_user').submit();
	});
	$("#user_max_investment" ).blur(function() {
		$('#new_user').submit();
	});


	function get_browser(){
	    var N=navigator.appName, ua=navigator.userAgent, tem;
	    var M=ua.match(/(opera|chrome|safari|firefox|msie)\/?\s*(\.?\d+(\.\d+)*)/i);
	    if(M && (tem= ua.match(/version\/([\.\d]+)/i))!= null) M[2]= tem[1];
	    M=M? [M[1], M[2]]: [N, navigator.appVersion, '-?'];
	    return M[0];
	    }

	if(get_browser() == "Firefox") {
		$('#ugly').show();
	}

})
</script>