<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, wrapper: :vertical_input_group, label: false, placeholder: 'youremail@domain.com' %>
    <%= f.input :name, wrapper: :vertical_input_group, placeholder: 'Your full name', label: false, class: "form-control" %>
    <%= f.input :phone, wrapper: :vertical_input_group, placeholder: 'Your phone', label: false, class: "form-control" %>
   	<%= f.input :min_investment, wrapper: :vertical_input_group, placeholder: 'Minimum investment', label: false, class: "form-control" %>
  </div>

<% end %>
<script type="text/javascript"> 

$(document).ready(function() {

	$('.form-group.user_name').hide();
	$('.form-group.user_phone').hide();
	$('.form-group.user_min_investment').hide();

	$("#user_email" ).blur(function() {
		$('.form-group.user_email').hide();
		$('.form-group.user_name').show();
		$('.form-group.user_name input').focus();
	});
	$("#user_name" ).blur(function() {
		$('.form-group.user_name').hide();
		$('.form-group.user_phone').show();
		$('.form-group.user_phone input').focus();
	});
	$("#user_phone" ).blur(function() {
		$('.form-group.user_phone').hide();
		$('.form-group.user_min_investment').show();
		$('.form-group.user_min_investment input').focus();
	});
	$("#user_min_investment" ).blur(function() {
		$('#new_user').submit();
	});

})
</script>