<%= simple_form_for @user, :validate => true do |f| %>

  <div class="form-inputs">
  	
  	<p id="ugly" style="display: none"></p>
 
			<%= f.input :email, placeholder: 'youremail@domain.com' %>
			<%= f.input :name, placeholder: 'Your full name?' %>
			<%= f.input :phone, placeholder: 'Your phone number?' %>
			<%= f.input :investment_help, data: { validate: 'false'}, placeholder: 'How much are you looking to invest?' %>
				<%= f.input :min_investment, data: { role: 'money', a_sign: '$', a_sep: ',', a_dec: '.' } %>
			<%= f.input :max_investment, data: { role: 'money', a_sign: '$', a_sep: ',', a_dec: '.' } %>
  </div>

<% end %>
<script type="text/javascript"> 

</script>